#**Elliptic Curve Cryptography**

In [ ]:
def modInverse(a, m): 
    a = a % m 
    for x in range(1, m): 
        if ((a * x) % m == 1): 
            return x 
    return 1

def point_addition(x1,y1,x2,y2,p):
  s=((y2-y1)% p)*(modInverse(x2-x1,p))
  #print(s)
  x3=(s*s-x1-x2) % p
  y3=(s*(x1-x3)-y1) % p 
  return x3,y3

def point_doubling(x,y,a,p):
  s= ((3*x**2+a) % p)*(modInverse(2*y,p))
  #print(s)
  x3=(s*s-x-x) % p
  y3=(s*(x-x3)-y) % p
  return x3,y3

# **Point Addition Function**

In [ ]:
point_addition(2,1,-2,-1,17)

(13, 2)

# **Point Multiplication/Doubling**

In [ ]:
point_doubling(3,10,1,23)

(7, 12)

## **Determining the Cyclic Group/Group Cardinality, E**

In [ ]:
def n_p(i,x_y,point,a,p):
  if (i+1)%2==0:
    m=x_y[int((i+1)/2)-1]
    x_y.append(point_doubling(m[0],m[1],a,p))
  else:
    m=x_y[i-1]
    x_y.append(point_addition(m[0],m[1],Point[0],Point[1],p))
  return x_y

In [ ]:
Point=(6,3)   #initial Point
p=37          #Public value P
a=-5           # From Equation Y^2 = x^3 + ax + b
x_y=[]
E=0
x_y.append(Point)
for i in range(1,100):
  x_y=n_p(i,x_y,Point,a,p)
  if x_y[-1]==Point:
    E=i
    print("Cyclic Group ,E = "+str(E))
    break
x_y[E-1]=str(x_y[E-1])+" = \u03F4"
for i in range(len(x_y)):
  print(str(i+1)+"P = "+str(x_y[i]))

Cyclic Group ,E = 15
1P = (6, 3)
2P = (35, 11)
3P = (34, 25)
4P = (8, 6)
5P = (16, 19)
6P = (22, 1)
7P = (20, 8)
8P = (20, 29)
9P = (22, 36)
10P = (16, 18)
11P = (8, 31)
12P = (34, 12)
13P = (35, 26)
14P = (6, 34)
15P = (24, 6) = Ï´
16P = (6, 3)

# **Shortcut of N-th Doubling(Square and Multiply)**

In [ ]:
def decimalToBinary(n):  
    return bin(n).replace("0b", "")

def steps_of_P(n):
  Bn=decimalToBinary(n)
  step=[]
  while(n>=1):
    if n%2==0:
      step.append(int(n))
      n=n/2
    else:
      step.append(int(n))
      n=(n-1)
  step.reverse()
  return step

In [ ]:
Point=(6,3)
p=37
a=-5
n=30
#line 1-4 are editable 
steps_of_point=[]
coefficient_of_P=steps_of_P(n)
for i in coefficient_of_P:
  if i==1:
    steps_of_point.append(Point)
  elif int(decimalToBinary(i)[-1])==0:
    steps_of_point.append(point_doubling(steps_of_point[-1][0],steps_of_point[-1][1],a,p))
  else:
    steps_of_point.append(point_addition(steps_of_point[-1][0],steps_of_point[-1][1],Point[0],Point[1],p))
print(str(n)+"P = ("+str(decimalToBinary(n))+")P")
for i in range(len(steps_of_point)):
  print("Step : "+str(i)+" --=> "+str(coefficient_of_P[i])+"P = ("+str(decimalToBinary(coefficient_of_P[i]))+")P ="+str(steps_of_point[i]))

30P = (11110)P
Step : 0 --=> 1P = (1)P =(6, 3)
Step : 1 --=> 2P = (10)P =(35, 11)
Step : 2 --=> 3P = (11)P =(34, 25)
Step : 3 --=> 6P = (110)P =(22, 1)
Step : 4 --=> 7P = (111)P =(20, 8)
Step : 5 --=> 14P = (1110)P =(6, 34)
Step : 6 --=> 15P = (1111)P =(24, 6)
Step : 7 --=> 30P = (11110)P =(36, 10)

# **Generating Shared Key**
<b><u>Equation</u> : Y<sup>2</sup> = X<sup>3</sup> + ax + b <br>
point , P = (x,y) <br>
Cyclic Group , E</b>

Private key={2,3,4,5..............,E-1}<br>
Let's see an example:<br>
Here,<pre>      Y<sup>2</sup> = X<sup>3</sup> + 2x + 2 
      point , P = (5,1) 
      Cyclic Group , E = 19 </pre>
<pre>               <b>Alice</b>                                       <b>Bob</b><hr>
        a = k<sub>private</sub> = K<sub>a</sub> = 3                           b = k<sub>private</sub> = K<sub>b</sub>= 10                                         
        A = k<sub>public</sub> = a.P                          B = k<sub>public</sub> = b.P 
                   = 3P = 3(5,1)=(10,6)             = 10P = 10(5,1)=(7,11)
                                           <b> A</b>
                                   ------------------->
                                           <b> B</b>
                                   <------------------- 
        a.B = 3.(7,11) = (13,10)                  b.A = 10(10,6) = (13,10)

        <b>Shared Key = common value of X-ordinate of Alice and Bob</b>
                   = 13

In [ ]:
def point_operation(n,Point,a,p):
  steps_of_point=[]
  coefficient_of_P=steps_of_P(n)
  for i in coefficient_of_P:
    if i==1:
      steps_of_point.append(Point)
    elif int(decimalToBinary(i)[-1])==0:
      steps_of_point.append(point_doubling(steps_of_point[-1][0],steps_of_point[-1][1],a,p))
    else:
      steps_of_point.append(point_addition(steps_of_point[-1][0],steps_of_point[-1][1],Point[0],Point[1],p))
  
  return steps_of_point[-1]

In [ ]:
import pandas as pd
a=2
p=17
Point=(5,1)
E=19
ka=3
kb=10
#line 2-7 are editable
A=point_operation(ka,Point,a,p)
B=point_operation(kb,Point,a,p)
Alice_key=point_operation(ka,B,a,p)
Bob_key=point_operation(kb,A,a,p)

result=(["a = "+str(ka),"b = "+str(kb)],
        ["A = "+str(A),"B = "+str(B)],
        [Alice_key,Bob_key])

if Alice_key[0]==Bob_key[0]:
  print("Shared Key = "+str(Alice_key[0]))

pd.DataFrame(result,columns=['Alice','Bob'],index=['Private Key','Public Key','Shared Key'])

Shared Key = 13

                   Alice          Bob
Private Key        a = 3       b = 10
Public Key   A = (10, 6)  B = (7, 11)
Shared Key      (13, 10)     (13, 10)

# **GCD Determination(Euclidean Method)**

In [ ]:
from math import *

def euclid_algo(x, y, verbose=True):
	if x < y: # We want x >= y
		return euclid_algo(y, x, verbose)
	print()
	while y != 0:
		if verbose: print('%s = %s * %s + %s' % (x, floor(x/y), y, x % y))
		(x, y) = (y, x % y)
	
	if verbose: print('gcd is %s' % x) 
	return x


euclid_algo(181, 71)

181 = 2 * 71 + 39
71 = 1 * 39 + 32
39 = 1 * 32 + 7
32 = 4 * 7 + 4
7 = 1 * 4 + 3
4 = 1 * 3 + 1
3 = 3 * 1 + 0
gcd is 1

1

# **GCD Determination(Extended Euclidean Method)**

In [ ]:
from typing import Tuple
x=181
y=71
def xgcd(a: int, b: int) -> Tuple[int, int, int]:
    x0, x1, y0, y1 = 0, 1, 1, 0
    while a != 0:
        (q, a), b = divmod(b, a), a
        y0, y1 = y1, y0 - q * y1
        x0, x1 = x1, x0 - q * x1
        if (x0!=0 and y0!=0):
          print(str(b)+" = "+str(x0)+"*"+str(x)+" + "+str(y0)+"*"+str(y))
    return b, x0, y0
r2,r0,r1=xgcd(x,y)

print("\nMultiplicative Inverse is="+str(r1))

39 = 1*181 + -2*71
32 = -1*181 + 3*71
7 = 2*181 + -5*71
4 = -9*181 + 23*71
3 = 11*181 + -28*71
1 = -20*181 + 51*71

Multiplicative Inverse is=51

In [ ]:
modInverse(x,y)

51